.admin-login
  .row
    .col-md-4
    .col-md-4
      %h1 Admin Login
    .col-md-4

.row
  .col-md-4
  .col-md-4
    = bootstrap_form_tag do |f|
      = f.email_field :email, value: params[:email], required: true

      = f.text_field :password, required: true

      = f.submit 'Login', class: 'btn btn-success'
  .col-md-4
