%section.expired-token
  .row.mt-5
    .col-md-1
    .col-md-10
      %h1.display-2 Expired token
      %p We are sorry, this token is not valid, contact us if you think this is a mistake.
    .col-md-1
