%section.thanks
  %h1.display-2 Thank you!
  %h2.mt-3 Save the date: <span class="my-yellow">December 24 2018</span>

  .row.mt-5
    .col-md-7
      %p We will start sending invites as soon as registration ends. Stay tuned!

      %p
        %a{href: "#", class: 'my-yellow-light'} More info

  .media-footer
